html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #1c1e53;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../public/font/Poppins\ Regular\ 400.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../public/font/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
.navbar-light .navbar-toggler {
  background: aliceblue;
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}
div#responsive-navbar-nav {
  text-align: center;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border: none;
}
.btn.btn-primary:focus {
  box-shadow: none !important;
}
.Banner {
  background: #1c1e53;
  padding-top: 7%;
  padding-bottom: 7%;
}
.Work {
  background: #F4F6FC;
  padding-top: 7%;
  padding-bottom: 7%;
}

.mobileView {
  display: none;
}
.offcanvas-header {
  background: #1c1e53 !important;
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background: #1c1e53;
}
.offcanvas-body {
  background: #1c1e53;
}
.nav-link {
  color: white !important;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: transparent !important;
}
button:focus:not(:focus-visible) {
    outline: none;
}
/* Responsive start  */
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 992px) {
  .mobileView {
    display: block;
  }
  .deskTop {
    display: none;
  }
  .navbar {
    justify-content: start;
    display: block;
  }
  .navlink {
    padding: 5px 0px !important;
  }
  .contact_btn {
    margin-top: 15px;
  }

}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 767px) {
 
}
@media only screen and (max-width: 567px) {
}
/* Responsive end  */
