.header_bg{
    background: #1C1E53;
  }
  .header_section {
    background-color: #1C1E53;
    padding: 10px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .navbar {
    display: flex;
    justify-content: end;
  }
  .header_nav {
      margin-right: 20px;
  }
  .navlink {
    color: #BBBBCB !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 0 20px !important;
  }
  .navlink:hover{
    color: white !important;
  }
  .contact_btn {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      color: #FFFFFF;
      background-color: transparent;
      border: 2px solid rgba(244, 246, 252, 0.2);
      box-sizing: border-box;
      border-radius: 41px;
      padding: 12px 37px;
  }
  .menu_icon {
      background-color: white !important;
  }
  .active{
      color: white !important;
    }
    .leftmenu {
      background-color: #1C1E53;
  }
  /* Responsive start  */
  @media only screen and (max-width: 1199px) {
  }
  @media only screen and (max-width: 992px) {
      .navbar{justify-content: start; display: block;}
      .navlink{padding: 5px 0px !important;}
      .contact_btn {margin-top: 15px;}
  }
  @media only screen and (max-width: 768px) {
  }
  @media only screen and (max-width: 767px) {
  }
  @media only screen and (max-width: 567px) {
  }